div(class='footer-top')
	div(class='container')
		div(class='row')
			each item in layoutData.footer.link_list
				.col-6.col-md-3.col-lg-2
					h5.text-white.mt-3= item.category
					ul
						each list in item.lists
							li
								a.footer-link(href= list.href)= list.name

.footer.py-1
	.container
		.row
			.col-md-12
				.footer-content.d-flex.flex-column.flex-sm-row.align-items-center.justify-content-between
					.footer-logo
						img(src="/public/resources/images/sbo_logo.svg" alt="SBO" class="img-fluid")
					p.text-white.my-0 © 2017 by Synchronous, All rights reserved.
					.social.d-flex.align-items-center
						p.text-white.my-0.mr-sm-1.mr-md-3 Follow Us
						a(href="#")
							i(class="fab fa-facebook")
						a(href="#")
							i(class="fab fa-twitter")
						a(href="#")
							i(class="fab fa-youtube")
						a(href="#")
							i(class="fab fa-linkedin")